<main class="main">
  <div>Home Page</div> 
  <app-_1_ManualComponent></app-_1_ManualComponent>
  <app_2_ManualSeparate></app_2_ManualSeparate>
  <app-angular-3-gc></app-angular-3-gc>
  <br> 
  <div>
    <h3>app-angular-4-data-binding</h3>
    <app-angular-4-data-binding></app-angular-4-data-binding>
  </div>
  <div>
    <h3>
      app-angular-5-p2c-ds-parent
    </h3>
    <app-angular-5-p2c-ds-parent></app-angular-5-p2c-ds-parent>
  </div>
  <div>
    <h3>
      App-angular-6-c2p-ds-parent-viewchild
    </h3>
    <app-angular-6-c2p-ds-parent-viewchild></app-angular-6-c2p-ds-parent-viewchild>
  </div>
  <div>
    <h3>
      App-angular-7-c2p-ds-parent-output
    </h3>
    <app-angular-7-c2p-ds-parent-output></app-angular-7-c2p-ds-parent-output>
  </div>
  <div>
    <h3>
      app-angular-8-get
    </h3>
    <app-angular-8-get></app-angular-8-get>
  </div>
</main>
<router-outlet />